extends layout

block content
  div.row
    div.large-8.columns
      h1 
        = post.title
      span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
      hr
      div.post.content
        != post.content
      div.tags
        - each tag in post.tags
          a(href=tagUrl(tag))
            span.label.label-info #{tag}
      hr



